<?xml version="1.0" ?>
<Settings>
    <Interfaces>
        <Interface>
            <InterfaceName>enp0s3</InterfaceName>
            <IsRouter>true</IsRouter>
            <AdvSendAdvertisements>true</AdvSendAdvertisements>
            <MaxRtrAdvInterval>600</MaxRtrAdvInterval>
            <MinRtrAdvInterval>200</MinRtrAdvInterval>
            <AdvManagedFlag>false</AdvManagedFlag>
            <AdvOtherConfigFlag>false</AdvOtherConfigFlag>
            <AdvLinkMTU>0</AdvLinkMTU>
            <AdvReachableTime>0</AdvReachableTime>
            <AdvRetransTimer>0</AdvRetransTimer>
            <AdvCurHopLimit>64</AdvCurHopLimit>
            <AdvDefaultLifetime>1800</AdvDefaultLifetime>
            <AdvPrefixList>
                <AdvPrefix>
                    <AdvValidLifetime>2592000</AdvValidLifetime>
                    <AdvOnLinkFlag>true</AdvOnLinkFlag>
                    <AdvPreferredLifetime>604800</AdvPreferredLifetime>
                    <AdvAutonomousFlag>true</AdvAutonomousFlag>
                </AdvPrefix>
            </AdvPrefixList>
        </Interface>
        <Interface>
            <InterfaceName>enp0s8</InterfaceName>
            <IsRouter>true</IsRouter>
            <AdvSendAdvertisements>true</AdvSendAdvertisements>
            <MaxRtrAdvInterval>600</MaxRtrAdvInterval>
            <MinRtrAdvInterval>200</MinRtrAdvInterval>
            <AdvManagedFlag>false</AdvManagedFlag>
            <AdvOtherConfigFlag>false</AdvOtherConfigFlag>
            <AdvLinkMTU>0</AdvLinkMTU>
            <AdvReachableTime>0</AdvReachableTime>
            <AdvRetransTimer>0</AdvRetransTimer>
            <AdvCurHopLimit>64</AdvCurHopLimit>
            <AdvDefaultLifetime>1800</AdvDefaultLifetime>
            <AdvPrefixList>
                <AdvPrefix>
                    <AdvValidLifetime>2592000</AdvValidLifetime>
                    <AdvOnLinkFlag>true</AdvOnLinkFlag>
                    <AdvPreferredLifetime>604800</AdvPreferredLifetime>
                    <AdvAutonomousFlag>true</AdvAutonomousFlag>
                </AdvPrefix>
            </AdvPrefixList>
        </Interface>
    </Interfaces>
    <NextRouterAddress>192.168.20.1</NextRouterAddress>
    <LogMode>
        <EnableLogStdout>false</EnableLogStdout>
        <EnableLogError>false</EnableLogError>
    </LogMode>
</Settings>
